In [1]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql')
print(mydb.connection_id)

11

In [4]:
#create database once we are connected with server
cur = mydb.cursor()

query = "create database companydb"

cur.execute(query)

print("companydb database is created")

companydb database is created

In [11]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql')

cur = mydb.cursor()

query = "show databases;"
cur.execute(query)
#result = cur.fetchall()
#print(result)


for db in cur:
    print(db)

('companydb',)
('demodb1',)
('information_schema',)
('mysql',)
('mysql_db',)
('performance_schema',)
('sys',)

In [15]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "create table employees (employee_id int primary key, first_name varchar(20), last_name varchar(20), hire_date datetime, dept_id int, salary decimal(9,2))"
cur.execute(query)
print("data table is created")

data table is created

In [19]:
import datetime
print(datetime.datetime.now())

2024-06-18 09:01:21.813188

In [22]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "insert into employees (employee_id,first_name,last_name,hire_date,dept_id,salary ) values(%s,%s,%s,%s,%s,%s)"
value = (1,'Virat','Kohli',datetime.datetime.now(),101,35000.5)

cur.execute(query,value)
mydb.commit()
print("Data row updated")

Data row updated

In [24]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "insert into employees (employee_id,first_name,last_name,hire_date,dept_id,salary ) values(%s,%s,%s,%s,%s,%s)"
value = [(2,'Rohit','Sharma',datetime.datetime.now(),101,55000.5),
         (3,'Rishabh','Pant',datetime.datetime.now(),102,45000.5),
         (4,'Ravindra','Jadeja',datetime.datetime.now(),102,65000.5)]

cur.executemany(query,value)
mydb.commit()
print("Data row updated")

Data row updated

In [26]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees"
cur.execute(query)

for row in cur:
    print(row)

(1, 'Virat', 'Kohli', datetime.datetime(2024, 6, 18, 9, 6, 47), 101, Decimal('35000.50'))
(2, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, Decimal('55000.50'))
(3, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, Decimal('45000.50'))
(4, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, Decimal('65000.50'))

In [27]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees"
cur.execute(query)

result = cur.fetchall()
print(result)

[(1, 'Virat', 'Kohli', datetime.datetime(2024, 6, 18, 9, 6, 47), 101, Decimal('35000.50')), (2, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, Decimal('55000.50')), (3, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, Decimal('45000.50')), (4, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, Decimal('65000.50'))]

In [30]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(1, 'Virat', 'Kohli', datetime.datetime(2024, 6, 18, 9, 6, 47), 101, Decimal('35000.50'))
(2, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, Decimal('55000.50'))
(3, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, Decimal('45000.50'))
(4, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, Decimal('65000.50'))

In [31]:
#update table_name set column_name = value where condition

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "update employees set salary = 75000 where employee_id=1"

cur.execute(query)

mydb.commit()

print("Salary Updated sucessfully")

Salary Updated sucessfully

In [32]:
#update table_name set column_name = value where condition

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "update employees set salary = salary + 0.1*salary"

cur.execute(query)

mydb.commit()

print("Salary Updated sucessfully")

Salary Updated sucessfully

In [34]:
#update table_name set column_name = value where condition

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "update employees set salary = salary + 5000 where salary < 50000"

cur.execute(query)

mydb.commit()

print("Salary Updated sucessfully")

Salary Updated sucessfully

In [35]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "delete from employees where employee_id=1"

cur.execute(query)

mydb.commit()

print("Employee Id 1 details deleted sucessfully")

Employee Id 1 details deleted sucessfully

In [39]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "create table employees_2 like employees"

cur.execute(query)

mydb.commit()

print("employees_2 created sucessfully")

employees_2 created sucessfully

In [40]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "insert into employees_2 select * from employees"

cur.execute(query)

mydb.commit()

print("employees_2 updated sucessfully")

employees_2 updated sucessfully

**Table**
* A database object that stores data in rows and columns.

**View**

        *  It is a virtual table that is based on the result-set of a SQL query. 
        *  It doesn't stores data physically, instead it dynamically retrives data from one or more table when queried
        *  We use view to simplify complex queries, provide security by restrictiong access to the specific data, and present data in specific format.

In [2]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(2, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, Decimal('60500.55'))
(3, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, Decimal('54500.55'))
(4, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, Decimal('71500.55'))

In [3]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "create view EmployeeNameSalary as select first_name,last_name,salary from employees"

cur.execute(query)

print("View created successfully")

mydb.commit()

View created successfully

In [6]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from EmployeeNameSalary"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)
mydb.commit()

('Rohit', 'Sharma', Decimal('60500.55'))
('Rishabh', 'Pant', Decimal('54500.55'))
('Ravindra', 'Jadeja', Decimal('71500.55'))

In [7]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "describe employees"

cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

('employee_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(20)', 'YES', '', None, '')
('last_name', 'varchar(20)', 'YES', '', None, '')
('hire_date', 'datetime', 'YES', '', None, '')
('dept_id', 'int', 'YES', '', None, '')
('salary', 'decimal(9,2)', 'YES', '', None, '')

In [8]:
#to add a new column

import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "alter table employees add column experience integer(4)"

cur.execute(query)
mydb.commit()

In [9]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "describe employees"

cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

('employee_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(20)', 'YES', '', None, '')
('last_name', 'varchar(20)', 'YES', '', None, '')
('hire_date', 'datetime', 'YES', '', None, '')
('dept_id', 'int', 'YES', '', None, '')
('salary', 'decimal(9,2)', 'YES', '', None, '')
('experience', 'int', 'YES', '', None, '')

In [10]:
#to add a new column

import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "alter table employees add column email varchar(40) after dept_id"

cur.execute(query)
mydb.commit()

In [11]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "describe employees"

cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

('employee_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(20)', 'YES', '', None, '')
('last_name', 'varchar(20)', 'YES', '', None, '')
('hire_date', 'datetime', 'YES', '', None, '')
('dept_id', 'int', 'YES', '', None, '')
('email', 'varchar(40)', 'YES', '', None, '')
('salary', 'decimal(9,2)', 'YES', '', None, '')
('experience', 'int', 'YES', '', None, '')

In [12]:
#to add a new column

import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "alter table employees add column emp_new_id int first"

cur.execute(query)
mydb.commit()

In [13]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "describe employees"

cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

('emp_new_id', 'int', 'YES', '', None, '')
('employee_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(20)', 'YES', '', None, '')
('last_name', 'varchar(20)', 'YES', '', None, '')
('hire_date', 'datetime', 'YES', '', None, '')
('dept_id', 'int', 'YES', '', None, '')
('email', 'varchar(40)', 'YES', '', None, '')
('salary', 'decimal(9,2)', 'YES', '', None, '')
('experience', 'int', 'YES', '', None, '')

In [14]:
#Delete or remove or drop a specific data column

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "alter table employees drop column employee_id"

cur.execute(query)

mydb.commit()

In [15]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "describe employees"

cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

('emp_new_id', 'int', 'YES', '', None, '')
('first_name', 'varchar(20)', 'YES', '', None, '')
('last_name', 'varchar(20)', 'YES', '', None, '')
('hire_date', 'datetime', 'YES', '', None, '')
('dept_id', 'int', 'YES', '', None, '')
('email', 'varchar(40)', 'YES', '', None, '')
('salary', 'decimal(9,2)', 'YES', '', None, '')
('experience', 'int', 'YES', '', None, '')

In [16]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(None, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, None, Decimal('60500.55'), None)
(None, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('54500.55'), None)
(None, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('71500.55'), None)

In [24]:
#Update emp_new_id

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

#query = "update employees set emp_new_id=1 where first_name='Rohit'"
#query = "update employees set emp_new_id=2 where first_name='Rishabh'"
query = "update employees set emp_new_id=3 where first_name='Ravindra'"


cur.execute(query)

mydb.commit()

In [26]:
import datetime
print(datetime.datetime.now())

2024-06-22 10:40:25.843704

In [25]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(1, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, None, Decimal('60500.55'), None)
(2, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('54500.55'), None)
(3, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('71500.55'), None)

In [30]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "describe employees"

cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

('emp_new_id', 'int', 'YES', '', None, '')
('first_name', 'varchar(20)', 'YES', '', None, '')
('last_name', 'varchar(20)', 'YES', '', None, '')
('hire_date', 'datetime', 'YES', '', None, '')
('dept_id', 'int', 'YES', '', None, '')
('email', 'varchar(40)', 'YES', '', None, '')
('salary', 'decimal(9,2)', 'YES', '', None, '')
('experience', 'int', 'YES', '', None, '')

In [33]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = """
insert into employees (emp_new_id,first_name,last_name,dept_id,email,salary,experience) 
values (5, 'Axar' , 'Patel', 103 ,'axar@abc.com',56000.75,7)
"""

cur.execute(query)

mydb.commit()

In [34]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(1, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, None, Decimal('60500.55'), None)
(2, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('54500.55'), None)
(3, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('71500.55'), None)
(4, 'Virat', 'kohli', None, 101, 'virat@abc.com', Decimal('80000.75'), 12)
(5, 'Axar', 'Patel', None, 103, 'axar@abc.com', Decimal('56000.75'), 7)

In [35]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees order by salary"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(2, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('54500.55'), None)
(5, 'Axar', 'Patel', None, 103, 'axar@abc.com', Decimal('56000.75'), 7)
(1, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, None, Decimal('60500.55'), None)
(3, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('71500.55'), None)
(4, 'Virat', 'kohli', None, 101, 'virat@abc.com', Decimal('80000.75'), 12)

In [39]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees order by salary limit 1"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(2, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('54500.55'), None)

In [40]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "update employees set dept_id = 103 order by salary limit 1"
cur.execute(query)

mydb.commit()

In [41]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees order by salary"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(2, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 103, None, Decimal('54500.55'), None)
(5, 'Axar', 'Patel', None, 103, 'axar@abc.com', Decimal('56000.75'), 7)
(1, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, None, Decimal('60500.55'), None)
(3, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('71500.55'), None)
(4, 'Virat', 'kohli', None, 101, 'virat@abc.com', Decimal('80000.75'), 12)

In [42]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select salary from employees order by salary limit 1"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(Decimal('54500.55'),)

In [45]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select min(salary) from employees as min_salary"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(Decimal('54500.55'),)

In [49]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select min_salary from (select min(salary) as min_salary from employees) as subquery"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(Decimal('54500.55'),)

In [47]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = """
update employees set dept_id = 101 where 
salary = (select min_salary from (select min(salary) as min_salary from employees) as subquery)
"""

cur.execute(query)
mydb.commit()

In [48]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employees order by salary"
cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

(2, 'Rishabh', 'Pant', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, None, Decimal('54500.55'), None)
(5, 'Axar', 'Patel', None, 103, 'axar@abc.com', Decimal('56000.75'), 7)
(1, 'Rohit', 'Sharma', datetime.datetime(2024, 6, 18, 9, 10, 8), 101, None, Decimal('60500.55'), None)
(3, 'Ravindra', 'Jadeja', datetime.datetime(2024, 6, 18, 9, 10, 8), 102, None, Decimal('71500.55'), None)
(4, 'Virat', 'kohli', None, 101, 'virat@abc.com', Decimal('80000.75'), 12)

In [53]:
#access first_name,last_name & salary from the table where salary > avg(salary)
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

'''
query = """
select avg(salary) from employees
"""

query = """
select first_name,last_name, salary from employees
"""
'''

query = """
select first_name,last_name, salary from employees 
where salary > (select avg(salary) from employees)
"""

cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

('Ravindra', 'Jadeja', Decimal('71500.55'))
('Virat', 'kohli', Decimal('80000.75'))

In [54]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                              database = 'companydb')

cur = mydb.cursor()

query = "select * from employeenamesalary"

cur.execute(query)

result = cur.fetchall()
for res in result:
    print(res)

('Rohit', 'Sharma', Decimal('60500.55'))
('Rishabh', 'Pant', Decimal('54500.55'))
('Ravindra', 'Jadeja', Decimal('71500.55'))
('Virat', 'kohli', Decimal('80000.75'))
('Axar', 'Patel', Decimal('56000.75'))