In [3]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql')
print(mydb.connection_id)

#create database once we are connected with server
cur = mydb.cursor()

#query = "drop database imdb"
query = "create database imdb"

cur.execute(query)

print("imdb database is created")

84
imdb database is created

In [4]:
import mysql.connector

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

cur = mydb.cursor()

query = "create table if not exists director_mapping (movie_id varchar(255) , name_id varchar(255))"

cur.execute(query)

print("data table director_mapping is created")

data table director_mapping is created

In [5]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

cur = mydb.cursor()

query = "create table if not exists genre (movie_id varchar(255) , genre varchar(255))"

cur.execute(query)

print("data table genre is created")

data table genre is created

In [6]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

cur = mydb.cursor()

query = """
create table if not exists movies (id varchar(255) primary key, title varchar(255), year int, date_published DATE, duration int, 
country varchar(255), worlwide_gross_income varchar(255), languages	varchar(255), production_company varchar(255))
"""

cur.execute(query)

print("data table movies is created")

data table movies is created

In [7]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

cur = mydb.cursor()

#query = "drop table names"

query = """
create table if not exists names (id varchar(255) primary key, name varchar(255), height float, date_of_birth varchar(255), known_for_movies varchar(255))
"""

cur.execute(query)

print("data table names is created")

data table names is created

In [8]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

cur = mydb.cursor()

query = """
create table if not exists ratings (movie_id varchar(255), avg_rating float, total_votes int, median_rating float)
"""

cur.execute(query)

print("data table ratings is created")

data table ratings is created

In [9]:
mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

cur = mydb.cursor()

#query = "drop table role_mapping"


query = """
create table if not exists role_mapping (movie_id varchar(255), name_id varchar(255), category varchar(255))
"""


cur.execute(query)

print("data table role_mapping is created")

data table role_mapping is created

In [10]:
!pip3 install openpyxl

Requirement already satisfied: openpyxl in ./miniconda/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in ./miniconda/lib/python3.12/site-packages (from openpyxl) (1.1.0)

In [11]:
import pandas as pd

In [12]:
excel_file = '/Users/bipulkumar/Downloads/imdb.xlsx'

df_director_mapping = pd.read_excel(excel_file , sheet_name = 'director_mapping')
df_genre = pd.read_excel(excel_file , sheet_name = 'genre')
df_movies = pd.read_excel(excel_file , sheet_name = 'movies')
df_names = pd.read_excel(excel_file , sheet_name = 'names')
df_ratings = pd.read_excel(excel_file , sheet_name = 'ratings')
df_role_mapping = pd.read_excel(excel_file , sheet_name = 'role_mapping')

In [13]:
df_movies.head()

,id,title,year,date_published,duration,country,worlwide_gross_income,languages,production_company
0,tt0012494,Der müde Tod,2017,2017-06-09,97,Germany,$ 12156,German,Decla-Bioscop AG
1,tt0038733,A Matter of Life and Death,2017,2017-12-08,104,UK,$ 124241,"English, French, Russian",The Archers
2,tt0361953,The Nest of the Cuckoo Birds,2017,2017-10-16,81,USA,NaN,English,Bert Williams Motion Pictures and Distributor
3,tt0235166,Against All Hope,2017,2017-10-20,90,USA,NaN,English,NaN
4,tt0337383,Vaikai is Amerikos viesbucio,2017,2017-03-09,88,Soviet Union,NaN,"Lithuanian, Russian",Lietuvos Kinostudija

In [14]:
df_movies.dtypes

id                               object
title                            object
year                              int64
date_published           datetime64[ns]
duration                          int64
country                          object
worlwide_gross_income            object
languages                        object
production_company               object
dtype: object

In [15]:
df_movies['date_published'] = pd.to_datetime(df_movies['date_published']).dt.strftime('%Y-%m-%d')

In [16]:
df_movies['date_published'].unique()

array(['2017-06-09', '2017-12-08', '2017-10-16', '2017-10-20',
       '2017-03-09', '2017-12-06', '2017-11-17', '2017-01-19',
       '2017-02-17', '2017-01-01', '2017-01-27', '2017-01-12',
       '2017-09-29', '2017-01-14', '2017-08-09', '2017-02-21',
       '2017-07-08', '2017-06-11', '2017-04-16', '2017-03-21',
       '2017-10-01', '2017-07-01', '2017-07-28', '2017-06-01',
       '2017-09-15', '2017-01-10', '2017-11-23', '2017-11-01',
       '2017-04-05', '2017-12-15', '2017-08-21', '2017-06-08',
       '2017-11-04', '2017-02-15', '2017-02-01', '2017-10-08',
       '2017-02-04', '2017-03-24', '2017-01-13', '2017-03-14',
       '2017-01-02', '2017-04-12', '2017-02-22', '2017-06-20',
       '2017-07-13', '2017-11-10', '2017-01-29', '2017-06-02',
       '2017-05-12', '2017-04-14', '2017-10-10', '2017-07-04',
       '2017-01-24', '2017-01-04', '2017-07-11', '2017-02-03',
       '2017-05-10', '2017-03-15', '2017-01-26', '2017-03-03',
       '2017-02-07', '2017-09-08', '2017-03-10', '2017-08-17',
       '2017-03-28', '2017-05-28', '2017-09-19', '2017-07-05',
       '2017-03-04', '2017-12-26', '2017-05-31', '2017-06-27',
       '2017-08-04', '2017-03-30', '2017-04-28', '2017-03-16',
       '2017-04-24', '2017-02-24', '2017-11-07', '2017-11-14',
       '2017-07-03', '2017-10-27', '2017-06-30', '2017-03-31',
       '2017-02-27', '2017-01-11', '2017-08-01', '2017-05-21',
       '2017-10-06', '2017-07-29', '2017-03-13', '2017-06-06',
       '2017-09-20', '2017-05-24', '2017-05-01', '2017-10-11',
       '2017-05-19', '2017-03-01', '2017-04-21', '2017-01-06',
       '2017-09-01', '2017-07-25', '2017-05-05', '2017-01-20',
       '2017-02-23', '2017-01-15', '2017-04-07', '2017-02-10',
       '2017-08-14', '2017-05-30', '2017-05-11', '2017-02-02',
       '2017-06-07', '2017-05-08', '2017-08-25', '2017-02-25',
       '2017-06-16', '2017-10-19', '2017-03-08', '2017-09-26',
       '2017-04-04', '2017-05-18', '2017-09-22', '2017-09-14',
       '2017-02-09', '2017-06-15', '2017-05-26', '2017-03-20',
       '2017-04-18', '2017-03-18', '2017-09-02', '2017-04-27',
       '2017-10-13', '2017-03-17', '2017-09-12', '2017-10-23',
       '2017-08-15', '2017-04-11', '2017-06-23', '2017-04-25',
       '2017-07-18', '2017-07-26', '2017-03-07', '2017-05-20',
       '2017-05-16', '2017-08-22', '2017-03-23', '2017-04-13',
       '2017-12-04', '2017-01-09', '2017-09-11', '2017-07-07',
       '2017-05-22', '2017-08-23', '2017-03-29', '2017-04-19',
       '2017-08-30', '2017-11-09', '2017-02-19', '2017-10-17',
       '2017-12-28', '2017-03-22', '2017-01-05', '2017-02-28',
       '2017-08-12', '2017-08-24', '2017-11-03', '2017-07-21',
       '2017-11-20', '2017-09-13', '2017-06-14', '2017-07-16',
       '2017-04-01', '2017-01-18', '2017-10-12', '2017-10-24',
       '2017-11-16', '2017-02-08', '2017-01-25', '2017-01-28',
       '2017-11-02', '2017-06-13', '2017-08-18', '2017-02-11',
       '2017-09-07', '2017-12-22', '2017-05-04', '2017-08-13',
       '2017-11-30', '2017-11-24', '2017-02-18', '2017-07-22',
       '2017-04-06', '2017-10-25', '2017-08-10', '2017-08-03',
       '2017-05-03', '2017-10-26', '2017-08-31', '2017-10-04',
       '2017-05-25', '2017-04-26', '2017-12-07', '2017-01-07',
       '2017-04-22', '2017-08-11', '2017-07-17', '2017-11-28',
       '2017-05-29', '2017-12-01', '2017-09-30', '2017-11-08',
       '2017-01-17', '2017-03-02', '2017-10-05', '2017-11-15',
       '2017-11-21', '2017-07-24', '2017-08-02', '2017-12-20',
       '2017-04-29', '2017-12-29', '2017-08-28', '2017-12-14',
       '2017-10-31', '2017-12-21', '2017-10-22', '2017-05-02',
       '2017-11-06', '2017-04-20', '2017-01-03', '2017-12-19',
       '2017-10-02', '2017-02-05', '2017-05-15', '2017-09-27',
       '2017-07-27', '2017-08-29', '2017-10-07', '2017-09-23',
       '2017-12-13', '2017-09-05', '2017-08-08', '2017-05-09',
       '2017-09-10', '2017-12-03', '2017-12-05', '2017-10-03',
       '2017-12-25', '2017-08-26', '2017-07-06', '2017-04-15',
       '2017-06-22', '2017-09-28', '2017-12-09', '2017-06-21',
       '2017-07-14', '2017-10-30', '2017-02-14', '2017-04-23',
       '2017-06-29', '2017-08-05', '2017-01-16', '2017-06-17',
       '2017-12-30', '2017-06-28', '2017-06-26', '2017-05-13',
       '2017-09-21', '2017-03-11', '2017-06-05', '2017-09-06',
       '2017-11-13', '2017-03-12', '2017-07-12', '2017-02-16',
       '2017-10-14', '2017-10-15', '2017-08-16', '2017-12-12',
       '2017-03-25', '2017-10-21', '2017-10-18', '2017-08-07',
       '2017-01-31', '2017-04-02', '2017-07-10', '2017-05-07',
       '2017-08-20', '2017-07-20', '2017-02-26', '2017-12-10',
       '2017-09-25', '2017-01-21', '2017-06-19', '2017-09-03',
       '2017-09-16', '2017-03-27', '2017-07-19', '2017-10-09',
       '2017-05-17', '2017-11-26', '2017-05-27', '2017-11-22',
       '2017-03-06', '2017-06-10', '2017-07-15', '2017-06-12',
       '2017-01-30', '2017-04-08', '2017-08-19', '2017-01-23',
       '2017-11-29', '2017-10-28', '2017-09-17', '2017-09-04',
       '2017-06-24', '2017-06-25', '2017-01-22', '2017-12-16',
       '2017-04-10', '2017-09-24', '2017-07-02', '2017-09-09',
       '2017-12-27', '2017-05-06', '2017-03-19', '2017-12-23',
       '2017-10-29', '2017-11-11', '2017-04-03', '2017-11-12',
       '2017-08-06', '2017-11-05', '2017-07-30', '2017-12-11',
       '2017-12-18', '2017-11-18', '2018-06-08', '2018-08-22',
       '2018-11-23', '2018-10-31', '2018-12-30', '2018-11-15',
       '2018-01-01', '2018-05-24', '2018-01-15', '2018-01-22',
       '2018-06-09', '2018-04-01', '2018-07-03', '2018-12-07',
       '2018-11-13', '2018-11-21', '2018-12-25', '2018-07-09',
       '2018-01-09', '2018-05-02', '2018-04-15', '2018-10-30',
       '2018-04-13', '2018-08-13', '2018-12-28', '2018-01-31',
       '2018-06-16', '2018-02-20', '2018-04-27', '2018-08-31',
       '2018-03-06', '2018-05-11', '2018-01-02', '2018-06-22',
       '2018-02-01', '2018-12-01', '2018-01-12', '2018-10-26',
       '2018-11-16', '2018-02-27', '2018-05-18', '2018-12-14',
       '2018-04-05', '2018-08-02', '2018-12-03', '2018-01-05',
       '2018-02-06', '2018-07-06', '2018-07-16', '2018-06-19',
       '2018-05-04', '2018-09-10', '2018-03-23', '2018-03-15',
       '2018-03-22', '2018-08-14', '2018-02-23', '2018-04-18',
       '2018-02-19', '2018-01-19', '2018-07-24', '2018-03-20',
       '2018-01-23', '2018-01-03', '2018-02-13', '2018-02-09',
       '2018-04-30', '2018-03-14', '2018-04-20', '2018-02-22',
       '2018-01-10', '2018-06-21', '2018-04-04', '2018-09-21',
       '2018-09-06', '2018-03-02', '2018-01-24', '2018-03-30',
       '2018-05-03', '2018-02-16', '2018-04-17', '2018-03-09',
       '2018-06-01', '2018-09-07', '2018-09-15', '2018-01-18',
       '2018-04-06', '2018-03-16', '2018-07-13', '2018-12-11',
       '2018-06-29', '2018-03-29', '2018-10-02', '2018-08-30',
       '2018-07-27', '2018-10-11', '2018-08-03', '2018-02-17',
       '2018-06-15', '2018-11-09', '2018-09-28', '2018-05-25',
       '2018-05-17', '2018-10-16', '2018-06-13', '2018-10-25',
       '2018-07-20', '2018-06-28', '2018-07-14', '2018-09-03',
       '2018-07-21', '2018-06-17', '2018-09-11', '2018-01-16',
       '2018-02-02', '2018-06-12', '2018-05-10', '2018-04-26',
       '2018-05-22', '2018-01-26', '2018-07-10', '2018-05-08',
       '2018-09-14', '2018-02-08', '2018-04-07', '2018-05-23',
       '2018-10-05', '2018-11-02', '2018-09-01', '2018-10-01',
       '2018-12-21', '2018-09-16', '2018-11-30', '2018-03-13',
       '2018-09-26', '2018-02-15', '2018-06-27', '2018-04-12',
       '2018-08-09', '2018-07-05', '2018-10-03', '2018-10-10',
       '2018-01-25', '2018-03-27', '2018-10-18', '2018-10-09',
       '2018-02-24', '2018-11-20', '2018-03-28', '2018-03-21',
       '2018-04-23', '2018-02-14', '2018-10-12', '2018-05-31',
       '2018-12-20', '2018-01-04', '2018-08-24', '2018-07-30',
       '2018-07-25', '2018-09-24', '2018-05-01', '2018-04-11',
       '2018-10-14', '2018-05-15', '2018-10-19', '2018-01-11',
       '2018-03-01', '2018-10-07', '2018-07-31', '2018-03-07',
       '2018-08-10', '2018-02-03', '2018-07-15', '2018-08-28',
       '2018-07-12', '2018-02-28', '2018-03-08', '2018-10-04',
       '2018-08-17', '2018-01-17', '2018-12-27', '2018-06-07',
       '2018-04-28', '2018-01-13', '2018-08-23', '2018-11-25',
       '2018-12-18', '2018-01-20', '2018-05-30', '2018-04-16',
       '2018-02-10', '2018-04-03', '2018-07-19', '2018-09-13',
       '2018-05-09', '2018-09-27', '2018-02-04', '2018-12-13',
       '2018-08-16', '2018-06-23', '2018-04-19', '2018-06-20',
       '2018-05-20', '2018-12-09', '2018-12-26', '2018-08-27',
       '2018-05-19', '2018-04-22', '2018-12-12', '2018-12-08',
       '2018-10-24', '2018-11-27', '2018-06-14', '2018-03-03',
       '2018-04-24', '2018-09-25', '2018-01-27', '2018-08-15',
       '2018-05-14', '2018-11-08', '2018-11-22', '2018-09-22',
       '2018-07-07', '2018-07-11', '2018-12-04', '2018-09-18',
       '2018-08-01', '2018-03-25', '2018-09-12', '2018-05-27',
       '2018-01-29', '2018-09-05', '2018-11-06', '2018-11-14',
       '2018-10-29', '2018-09-08', '2018-08-07', '2018-10-23',
       '2018-07-01', '2018-09-09', '2018-03-12', '2018-11-07',
       '2018-09-19', '2018-09-04', '2018-12-24', '2018-11-01',
       '2018-08-25', '2018-10-17', '2018-05-16', '2018-08-11',
       '2018-06-06', '2018-01-28', '2018-02-05', '2018-11-29',
       '2018-07-17', '2018-08-29', '2018-07-18', '2018-10-21',
       '2018-07-26', '2018-11-05', '2018-05-05', '2018-06-05',
       '2018-10-22', '2018-12-15', '2018-09-30', '2018-11-24',
       '2018-05-13', '2018-09-20', '2018-03-19', '2018-08-21',
       '2018-03-10', '2018-04-14', '2018-10-06', '2018-05-28',
       '2018-11-28', '2018-01-21', '2018-04-25', '2018-07-28',
       '2018-04-10', '2018-07-04', '2018-09-23', '2018-01-06',
       '2018-09-29', '2018-06-24', '2018-12-19', '2018-06-02',
       '2018-03-11', '2018-02-21', '2018-11-12', '2018-06-26',
       '2018-04-21', '2018-08-04', '2018-02-25', '2018-05-12',
       '2018-11-11', '2018-11-19', '2018-12-05', '2018-09-17',
       '2018-03-31', '2018-10-15', '2018-12-06', '2018-12-02',
       '2018-04-08', '2018-06-10', '2018-08-08', '2018-03-17',
       '2018-10-13', '2018-11-10', '2018-02-07', '2018-05-07',
       '2018-10-28', '2018-11-17', '2018-06-30', '2018-12-31',
       '2018-03-24', '2018-07-22', '2018-05-29', '2018-06-18',
       '2018-11-03', '2018-08-05', '2018-08-20', '2018-08-18',
       '2018-09-02', '2018-11-04', '2018-12-22', '2018-12-10',
       '2018-12-29', '2019-03-09', '2019-01-02', '2019-02-22',
       '2019-09-20', '2019-05-15', '2019-02-08', '2019-01-15',
       '2019-07-11', '2019-03-22', '2019-05-17', '2019-06-06',
       '2019-06-01', '2019-07-29', '2019-06-20', '2019-06-21',
       '2019-05-01', '2019-02-13', '2019-09-06', '2019-06-11',
       '2019-07-01', '2019-02-01', '2019-01-25', '2019-11-01',
       '2019-10-15', '2019-05-14', '2019-09-04', '2019-11-07',
       '2019-03-29', '2019-01-23', '2019-06-18', '2019-07-26',
       '2019-01-11', '2019-11-22', '2019-04-05', '2019-09-19',
       '2019-09-12', '2019-04-19', '2019-03-05', '2019-02-28',
       '2019-07-12', '2019-06-07', '2019-01-01', '2019-01-18',
       '2019-08-21', '2019-01-08', '2019-08-23', '2019-04-16',
       '2019-05-24', '2019-05-10', '2019-05-03', '2019-01-12',
       '2019-07-04', '2019-03-14', '2019-02-15', '2019-03-01',
       '2019-02-12', '2019-01-16', '2019-08-08', '2019-07-18',
       '2019-08-24', '2019-05-16', '2019-08-30', '2019-10-11',
       '2019-05-06', '2019-07-09', '2019-04-18', '2019-02-26',
       '2019-09-27', '2019-10-17', '2019-05-08', '2019-07-25',
       '2019-07-19', '2019-09-13', '2019-01-04', '2019-06-25',
       '2019-10-18', '2019-09-24', '2019-08-09', '2019-05-27',
       '2019-03-13', '2019-08-29', '2019-08-02', '2019-03-15',
       '2019-04-29', '2019-06-14', '2019-04-04', '2019-08-01',
       '2019-07-17', '2019-01-10', '2019-01-24', '2019-10-25',
       '2019-03-08', '2019-05-09', '2019-05-21', '2019-06-05',
       '2019-09-15', '2019-07-22', '2019-04-12', '2019-03-12',
       '2019-07-05', '2019-03-07', '2019-06-04', '2019-01-09',
       '2019-08-12', '2019-02-05', '2019-01-30', '2019-04-25',
       '2019-10-21', '2019-08-20', '2019-08-16', '2019-06-28',
       '2019-05-28', '2019-03-28', '2019-09-03', '2019-04-26',
       '2019-04-03', '2019-05-31', '2019-09-18', '2019-04-02',
       '2019-02-07', '2019-10-02', '2019-02-14', '2019-01-17',
       '2019-03-21', '2019-03-06', '2019-04-24', '2019-11-14',
       '2019-10-01', '2019-02-06', '2019-01-31', '2019-05-02',
       '2019-08-06', '2019-04-22', '2019-01-03', '2019-05-12',
       '2019-10-04', '2019-01-29', '2019-08-22', '2019-04-11',
       '2019-03-19', '2019-04-09', '2019-07-10', '2019-04-17',
       '2019-09-25', '2019-03-04', '2019-05-30', '2019-04-14',
       '2019-10-31', '2019-04-10', '2019-10-03', '2019-05-23',
       '2019-02-23', '2019-10-30', '2019-10-10', '2019-09-26',
       '2019-02-20', '2019-08-10', '2019-09-02', '2019-06-15',
       '2019-09-11', '2019-03-27', '2019-02-21', '2019-07-24',
       '2019-11-12', '2019-04-20', '2019-10-22', '2019-11-11',
       '2019-10-09', '2019-09-05', '2019-09-30', '2019-06-26',
       '2019-07-31', '2019-03-16', '2019-11-20', '2019-10-24',
       '2019-08-14', '2019-07-13', '2019-05-18', '2019-08-07',
       '2019-10-05', '2019-07-21', '2019-05-29', '2019-07-15',
       '2019-06-27', '2019-08-13', '2019-08-15', '2019-11-15',
       '2019-06-10', '2019-06-12', '2019-06-22', '2019-08-17',
       '2019-09-07', '2019-08-28', '2019-09-23', '2019-10-12',
       '2019-11-06', '2019-11-27', '2019-01-22', '2019-02-25',
       '2019-12-13', '2019-11-08', '2019-05-22', '2019-03-26',
       '2019-03-02', '2019-01-19', '2019-09-10', '2019-02-27',
       '2019-05-19', '2019-05-20', '2019-07-30', '2019-04-23',
       '2019-07-08', '2019-04-06', '2019-07-14', '2019-06-19',
       '2019-10-14', '2019-07-16', '2019-02-02', '2019-12-06',
       '2019-04-01', '2019-02-17', '2019-12-27', '2019-09-17',
       '2019-08-26', '2019-12-25', '2019-01-28', '2019-11-04',
       '2019-02-09', '2019-10-29', '2019-07-02', '2019-03-17',
       '2019-11-21', '2019-04-08', '2019-10-23', '2019-12-12',
       '2019-11-29', '2019-04-27', '2019-03-24', '2019-06-23',
       '2019-05-07', '2019-01-26', '2019-08-03', '2019-11-05',
       '2019-07-03', '2019-09-28', '2019-11-10', '2019-03-20',
       '2019-09-09', '2019-08-05', '2019-01-27', '2019-07-27',
       '2019-10-07', '2019-07-23', '2019-01-14', '2019-10-13',
       '2019-08-11', '2019-02-11', '2019-09-08', '2019-09-14',
       '2019-12-05', '2019-06-03', '2019-09-01', '2019-06-13',
       '2019-04-30', '2019-10-19', '2019-03-10', '2019-05-13',
       '2019-08-25', '2019-04-28', '2019-06-24', '2019-12-20',
       '2019-12-07', '2019-07-20', '2019-03-30', '2019-06-17',
       '2019-04-13', '2019-02-24', '2019-11-16', '2019-10-08',
       '2019-11-13', '2019-03-23', '2019-07-07', '2019-07-06'],
      dtype=object)

In [17]:
#df_movies['date_published'] = pd.to_datetime(df_movies['date_published'] , format = '%Y-%m-%d %H:%M:%S')

In [24]:
#df_names[df_names['date_of_birth'].apply(lambda x : len(str(x))) < 5]

In [25]:
'''
for i , row in df_role_mapping.iterrows():
    print(i,row)
'''

'\nfor i , row in df_role_mapping.iterrows():\n    print(i,row)\n'

In [26]:
'%s' * 8

'%s%s%s%s%s%s%s%s'

In [18]:

#Define a python function to upload Dataframe to MySQL database
def upload_to_mysql(df, table_name):
    mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

    cur = mydb.cursor()
    
    for i, row in df.iterrows():
        sql = f"insert into {table_name} values ({'%s, ' * (len(row) - 1)}%s)"
        cur.execute(sql , tuple(row))
        
    mydb.commit()

In [19]:
#Upload data to respective tables
upload_to_mysql(df_director_mapping, 'director_mapping')

In [20]:
upload_to_mysql(df_genre, 'genre')

In [21]:
upload_to_mysql(df_names, 'names')

In [22]:
upload_to_mysql(df_ratings, 'ratings')

In [23]:
upload_to_mysql(df_role_mapping, 'role_mapping')

In [24]:
upload_to_mysql(df_movies, 'movies')

**Data Table Insights**

In [30]:
data_tables = ['director_mapping','genre','names','ratings','role_mapping','movies']

In [31]:
#Count Number of rows

def number_rows(table):
    query = f"select count(*) from {table}"

    cur.execute(query)

    result = cur.fetchall()[0]

    return result

In [33]:
for table in data_tables:
    print(f"Number of rows in {table}-")
    print(number_rows(table))
    print()

Number of rows in director_mapping-
(3867,)

Number of rows in genre-
(14662,)

Number of rows in names-
(25735,)

Number of rows in ratings-
(7997,)

Number of rows in role_mapping-
(15615,)

Number of rows in movies-
(7997,)

**Access count of null values in movies table**

In [34]:
query = "describe movies"
cur.execute(query)
result = cur.fetchall()
for cols in result:
    print(cols)

('id', 'varchar(255)', 'NO', 'PRI', None, '')
('title', 'varchar(255)', 'YES', '', None, '')
('year', 'int', 'YES', '', None, '')
('date_published', 'date', 'YES', '', None, '')
('duration', 'int', 'YES', '', None, '')
('country', 'varchar(255)', 'YES', '', None, '')
('worlwide_gross_income', 'varchar(255)', 'YES', '', None, '')
('languages', 'varchar(255)', 'YES', '', None, '')
('production_company', 'varchar(255)', 'YES', '', None, '')

In [40]:
query = """
select
    sum(case when id is null then 1 else 0 end) as ID_NULL_COUNT,
    sum(case when title is null then 1 else 0 end) as Title_NULL_COUNT,
    sum(case when year is null then 1 else 0 end) as Year_NULL_COUNT,
    sum(case when date_published is null then 1 else 0 end) as Date_Published_NULL_COUNT,
    sum(case when duration is null then 1 else 0 end) as Duration_NULL_COUNT,
    sum(case when country is null then 1 else 0 end) as Country_NULL_COUNT,
    sum(case when worlwide_gross_income is null then 1 else 0 end) as WorldWide_Gross_Income_NULL_COUNT,
    sum(case when languages is null then 1 else 0 end) as Languages_NULL_COUNT,
    sum(case when production_company is null then 1 else 0 end) as Production_Company_NULL_COUNT
from movies
"""

cur.execute(query)
result = cur.fetchall()[0]


for cols in result:
    print(cols)

0
0
0
0
0
20
3724
198
528

In [41]:
df_movies.isna().sum()

id                          0
title                       0
year                        0
date_published              0
duration                    0
country                    20
worlwide_gross_income    3724
languages                 198
production_company        528
dtype: int64

In [50]:
#Number of movies released each year

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

cur = mydb.cursor()

query = "select year,count(title) as num_of_movies from movies group by year"

cur.execute(query)

result = cur.fetchall()

print(result)

[(2017, 3052), (2018, 2944), (2019, 2001)]

In [55]:
#Number of movies in each month
query = "select month(date_published) as month,count(*) from movies group by month(date_published) order by month"

cur.execute(query)

result = cur.fetchall()

print(result)

[(1, 804), (2, 640), (3, 824), (4, 680), (5, 625), (6, 580), (7, 493), (8, 678), (9, 809), (10, 801), (11, 625), (12, 438)]

In [60]:
#How many movies produced in the USA or India in the year 2019?

query = "select country,count(distinct id) from movies group by country" 

cur.execute(query)

result = cur.fetchall()

print(result)

[(None, 20), ('Afghanistan, Iran', 1), ('Albania', 1), ('Algeria, Belgium, France', 1), ('Argentina', 34), ('Argentina, Brazil, France', 1), ('Argentina, Brazil, France, Netherlands, Germany, Belgium, Switzerland', 1), ('Argentina, Brazil, France, Poland, Germany, Denmark', 1), ('Argentina, Brazil, Portugal', 1), ('Argentina, Brazil, Spain, Dominican Republic, France, Netherlands, Mexico, Switzerland, USA, Portugal, Lebanon', 1), ('Argentina, Canada', 1), ('Argentina, Chile', 2), ('Argentina, Denmark', 1), ('Argentina, France', 1), ('Argentina, France, Chile', 1), ('Argentina, France, Spain', 1), ('Argentina, France, USA, Germany, Qatar', 1), ('Argentina, Germany, Brazil, Spain', 1), ('Argentina, Germany, Qatar, Dominican Republic', 1), ('Argentina, Mexico', 2), ('Argentina, New Zealand', 1), ('Argentina, Norway, Germany, Brazil', 1), ('Argentina, South Korea, Austria', 1), ('Argentina, Spain', 13), ('Argentina, Spain, Colombia, Brazil, USA', 1), ('Argentina, Switzerland, Netherlands, Qatar', 1), ('Argentina, Uruguay, France', 1), ('Argentina, Uruguay, Spain, France', 1), ('Argentina, USA', 2), ('Armenia, Iran', 1), ('Armenia, Russia', 1), ('Australia', 74), ('Australia, Albania', 1), ('Australia, Canada', 1), ('Australia, Colombia, UK', 1), ('Australia, Finland, UK', 1), ('Australia, France', 1), ('Australia, Japan', 1), ('Australia, Nepal', 1), ('Australia, UK', 1), ('Australia, UK, United Arab Emirates', 1), ('Australia, United Arab Emirates', 4), ('Australia, USA', 6), ('Australia, USA, Canada', 1), ('Australia, USA, Mexico', 1), ('Australia, USA, UK, India, Singapore', 1), ('Austria', 12), ('Austria, France, Belgium, Germany', 1), ('Austria, Germany', 5), ('Austria, Germany, France', 1), ('Austria, Israel', 1), ('Austria, Luxembourg', 2), ('Austria, USA', 1), ('Azerbaijan', 1), ('Bahamas, USA', 1), ('Bangladesh', 17), ('Bangladesh, India', 3), ('Belarus, USA, Germany, Russia', 1), ('Belgium', 24), ('Belgium, Canada', 1), ('Belgium, Canada, France', 1), ('Belgium, France', 11), ('Belgium, France, China', 1), ('Belgium, France, Lebanon', 1), ('Belgium, France, Netherlands', 1), ('Belgium, France, Rwanda', 1), ('Belgium, France, USA', 1), ('Belgium, Luxembourg, France', 1), ('Belgium, Netherlands', 4), ('Belgium, Netherlands, Denmark, France', 1), ('Belgium, Netherlands, France', 1), ('Belgium, Netherlands, Senegal', 1), ('Belgium, Pakistan, Luxembourg, France', 1), ('Belgium, Poland', 1), ('Belgium, Spain, France', 1), ('Belgium, UK, USA', 1), ('Belgium, UK, USA, China', 1), ('Bermuda, USA', 1), ('Bhutan', 1), ('Bolivia, Uruguay', 1), ('Bosnia and Herzegovina, Republic of Macedonia, Serbia, Croatia', 1), ('Bosnia and Herzegovina, Slovenia, Germany, Croatia', 1), ('Bosnia and Herzegovina, Turkey', 1), ('Bosnia and Herzegovina, Turkey, UK, USA, Qatar', 1), ('Brazil', 86), ('Brazil, Argentina', 1), ('Brazil, Argentina, France, Germany', 1), ('Brazil, France', 2), ('Brazil, France, Colombia', 1), ('Brazil, France, Germany', 1), ('Brazil, France, Spain', 1), ('Brazil, Germany', 1), ('Brazil, Italy', 1), ('Brazil, Netherlands, USA, Colombia, Austria, Germany', 1), ('Brazil, Portugal', 2), ('Brazil, Portugal, France', 1), ('Brazil, Portugal, Russia', 1), ('Brazil, Portugal, Spain', 1), ('Brazil, Uruguay', 1), ('Brazil, Uruguay, Denmark, Norway, Chile, Sweden', 1), ('Brazil, Uruguay, Germany', 1), ('Bulgaria', 6), ('Bulgaria, Croatia', 1), ('Bulgaria, Denmark, France', 1), ('Bulgaria, Germany, France', 1), ('Bulgaria, Germany, Republic of Macedonia', 1), ('Bulgaria, Qatar', 1), ('Bulgaria, Republic of Macedonia', 1), ('Bulgaria, Romania', 1), ('Bulgaria, UK', 1), ('Bulgaria, USA', 5), ('Cambodia', 2), ('Cambodia, USA', 1), ('Canada', 209), ('Canada, Belgium', 1), ('Canada, China, Mexico', 1), ('Canada, Colombia, Mexico', 1), ('Canada, Cuba', 1), ('Canada, France', 1), ('Canada, France, Morocco', 1), ('Canada, Germany, USA', 1), ('Canada, India', 1), ('Canada, Japan, USA', 1), ('Canada, Mexico, Chile', 1), ('Canada, New Zealand, Ireland, USA', 1), ('Canada, Norway, USA', 1), ('Canada, South Africa', 1), ('Canada, South Korea, USA, China', 1), ('Canada, Switzerland', 1), ('Canada, UK', 1), ('Canada, United Arab Emirates, USA', 1), ('Canada, USA', 46), ('Canada, USA, Cayman Islands', 2), ('Canada, USA, China', 1), ('Canada, USA, Spain, South Korea', 1), ('Canada, USA, UK', 1), ('Chile', 9), ('Chile, Argentina', 1), ('Chile, Argentina, Brazil', 1), ('Chile, Argentina, Spain', 1), ('Chile, Brazil, Argentina, Netherlands, Qatar', 1), ('Chile, France', 2), ('Chile, France, Argentina, Portugal, Germany, Switzerland', 1), ('Chile, France, Germany, Greece, Colombia', 1), ('Chile, Germany', 1), ('Chile, Germany, Spain, USA', 1), ('Chile, Mexico', 1), ('Chile, Peru', 1), ('Chile, USA', 1), ('China', 110), ('China, Australia, Russia, Thailand', 1), ('China, Canada, USA', 4), ('China, France', 2), ('China, France, Japan', 1), ('China, Hong Kong', 23), ('China, Hong Kong, Czech Republic', 1), ('China, Hungary', 1), ('China, India', 1), ('China, Japan', 2), ('China, Mongolia', 1), ('China, Morocco, Hong Kong', 1), ('China, South Korea', 1), ('China, Taiwan', 2), ('China, USA', 10), ('China, USA, Australia', 1), ('China, USA, Colombia', 1), ('China, USA, Japan', 1), ('China, USA, UK', 1), ('Colombia', 9), ('Colombia, Argentina', 1), ('Colombia, Argentina, Netherlands, Germany, Sweden, Uruguay, USA, Switzerland, Denmark', 1), ('Colombia, Canada', 1), ('Colombia, Denmark, Mexico, Germany, Switzerland, France', 1), ('Colombia, Ecuador', 1), ('Colombia, France', 1), ('Colombia, Germany, Norway, Argentina, Cuba', 1), ('Colombia, Peru', 1), ('Colombia, USA', 1), ('Costa Rica', 2), ('Croatia', 13), ('Croatia, Belgium, Netherlands', 1), ('Croatia, Denmark', 1), ('Croatia, Serbia, Poland', 1), ('Croatia, Serbia, Serbia and Montenegro', 1), ('Croatia, Serbia, Slovenia', 1), ('Croatia, Slovenia', 1), ('Cuba, Canada', 1), ('Cuba, Spain', 2), ('Cyprus', 2), ('Cyprus, Greece', 1), ('Czech Republic', 4), ('Czech Republic, France, Slovakia', 1), ('Czech Republic, Latvia, Russia', 1), ('Czech Republic, Poland, Slovakia', 1), ('Czech Republic, Slovakia', 5), ('Czech Republic, Slovakia, Denmark', 1), ('Czech Republic, Slovakia, Germany', 1), ('Czech Republic, Slovakia, Ukraine', 1), ('Czech Republic, Slovenia, Poland, Slovakia, France', 1), ('Czech Republic, Spain', 1), ('Czech Republic, Switzerland, UK, USA', 1), ('Czech Republic, UK', 1), ('Czech Republic, USA', 1), ('Denmark', 38), ('Denmark, Canada, Sweden, France, Germany, UK, USA', 1), ('Denmark, Canada, USA', 1), ('Denmark, Czech Republic', 1), ('Denmark, France, Italy, Belgium, Netherlands', 1), ('Denmark, France, Sweden, Germany, Belgium', 1), ('Denmark, Germany', 3), ('Denmark, Germany, Czech Republic', 1), ('Denmark, Iceland', 2), ('Denmark, Netherlands, Sweden', 1), ('Denmark, Norway', 1), ('Denmark, Norway, Australia, USA', 1), ('Denmark, Norway, Czech Republic', 1), ('Denmark, Norway, Germany', 1), ('Denmark, Norway, Hungary, Czech Republic', 1), ('Denmark, Norway, Sweden', 1), ('Denmark, Norway, Sweden, Iceland', 1), ('Denmark, Sweden', 4), ('Dominican Republic', 9), ('Egypt', 32), ('Egypt, Austria, USA', 1), ('Egypt, France, Germany', 1), ('Egypt, France, Qatar, United Arab Emirates, Germany', 1), ('Egypt, Germany, UK, United Arab Emirates', 1), ('Egypt, Kuwait, USA', 1), ('Egypt, United Arab Emirates', 1), ('Estonia', 11), ('Estonia, Belgium, Ireland, UK', 1), ('Estonia, Finland, Latvia', 1), ('Finland', 23), ('Finland, Belgium, Iceland', 1), ('Finland, Denmark', 1), ('Finland, Denmark, Croatia', 1), ('Finland, Estonia, Sweden', 1), ('Finland, France', 1), ('Finland, Germany', 1), ('Finland, Germany, Belgium', 1), ('Finland, Latvia', 1), ('Finland, Netherlands, Sweden', 1), ('Finland, Norway', 1), ('Finland, Norway, Belgium', 1), ('Finland, Poland', 1), ('Finland, Sweden', 4), ('Finland, Sweden, Denmark, Germany, Iceland, USA', 1), ('Finland, UK, Canada', 1), ('Finland, USA', 1), ('France', 195), ('France, Algeria, Belgium, Qatar', 1), ('France, Algeria, Germany', 1), ('France, Austria, Germany', 1), ('France, Belgium', 98), ('France, Belgium, Armenia', 1), ('France, Belgium, British Virgin Islands', 1), ('France, Belgium, Canada', 1), ('France, Belgium, China, USA', 1), ('France, Belgium, Georgia, Switzerland', 1), ('France, Belgium, Germany', 2), ('France, Belgium, Germany, USA', 1), ('France, Belgium, Italy', 1), ('France, Belgium, Japan, Poland, Netherlands, Hungary, UK, Germany, China, Thailand, Italy, Denmark, USA', 1), ('France, Belgium, Luxembourg', 1), ('France, Belgium, Luxembourg, Cambodia', 1), ('France, Belgium, Morocco', 1), ('France, Belgium, Poland', 1), ('France, Belgium, Senegal, Germany, Lebanon', 1), ('France, Belgium, Switzerland', 1), ('France, Belgium, USA', 2), ('France, Bosnia and Herzegovina', 1), ('France, Canada', 6), ('France, Canada, Czech Republic', 1), ('France, Canada, USA', 2), ('France, China, Belgium, Germany, United Arab Emirates, USA', 1), ('France, Colombia', 1), ('France, Germany', 3), ('France, Germany, Belgium', 2), ('France, Germany, Czech Republic, Belgium', 1), ('France, Germany, Netherlands, Chile', 1), ('France, Germany, Russia, Lithuania, Netherlands, Ukraine, Latvia', 1), ('France, Germany, South Africa', 1), ('France, Germany, Turkey', 1), ('France, Greece', 1), ('France, Greece, Algeria', 1), ('France, Greece, Turkey', 1), ('France, Guadeloupe, China', 1), ('France, India, Belgium, Singapore, USA', 1), ('France, Iran, USA', 1), ('France, Israel', 1), ('France, Israel, Belgium', 1), ('France, Israel, Germany', 1), ('France, Israel, Germany, USA', 1), ('France, Italy', 5), ('France, Japan', 2), ('France, Japan, USA', 1), ('France, Luxembourg', 1), ('France, Luxembourg, Belgium', 1), ('France, Luxembourg, Canada', 1), ('France, Luxembourg, Switzerland', 1), ('France, Luxembourg, USA', 1), ('France, Mexico', 1), ('France, Myanmar', 1), ('France, Netherlands', 1), ('France, Netherlands, Singapore', 1), ('France, Portugal', 3), ('France, Portugal, Russia', 1), ('France, Portugal, Spain', 1), ('France, Qatar, Belgium, Morocco', 1), ('France, Senegal', 2), ('France, Senegal, Belgium', 1), ('France, Spain', 1), ('France, Spain, Romania, Belgium, USA', 1), ('France, Sweden', 1), ('France, Sweden, Norway', 1), ('France, Switzerland', 2), ('France, Tunisia', 1), ('France, Tunisia, Belgium', 1), ('France, Turkey, Belgium', 1), ('France, UK', 1), ('France, UK, Germany, Luxembourg, Japan', 1), ('France, Ukraine, Belgium', 1), ('France, Uruguay', 1), ('France, USA', 7), ('Georgia', 4), ('Georgia, Croatia, UK, Ireland, Netherlands, Qatar', 1), ('Georgia, Estonia', 1), ('Georgia, Estonia, USA', 1), ('Georgia, France, Germany', 1), ('Georgia, Germany, France', 1), ('Georgia, Russia, Poland', 1), ('Germany', 146), ('Germany, Australia', 2), ('Germany, Austria', 5), ('Germany, Austria, Czech Republic', 1), ('Germany, Austria, France', 1), ('Germany, Austria, Italy, Morocco, Qatar, Lebanon, France', 1), ('Germany, Austria, Monaco, Romania, France, Switzerland', 1), ('Germany, Austria, Netherlands', 1), ('Germany, Azerbaijan', 1), ('Germany, Belgium', 3), ('Germany, Belgium, Luxembourg', 1), ('Germany, Bulgaria, Austria', 1), ('Germany, Canada', 2), ('Germany, France', 5), ('Germany, France, Italy', 1), ('Germany, France, Poland, China, Portugal', 1), ('Germany, France, Spain, USA', 1), ('Germany, France, Switzerland', 1), ('Germany, India, USA', 1), ('Germany, Iraq, Qatar', 1), ('Germany, Ireland, France', 1), ('Germany, Israel, France', 1), ('Germany, Italy', 6), ('Germany, Italy, Austria', 1), ('Germany, Jordan, Netherlands', 1), ('Germany, Kenya', 1), ('Germany, Luxembourg', 1), ('Germany, Luxembourg, Belgium, France', 1), ('Germany, Luxembourg, Denmark', 1), ('Germany, Norway', 1), ('Germany, Serbia', 1), ('Germany, Slovakia', 1), ('Germany, Sweden, USA', 1), ('Germany, Sweden, USA, Hungary', 1), ('Germany, Switzerland', 2), ('Germany, Turkey, USA', 1), ('Germany, UK', 1), ('Germany, UK, USA', 1), ('Germany, Ukraine, France, Netherlands, Romania, Poland', 1), ('Germany, USA', 5), ('Germany, USA, Canada', 1), ('Germany, USA, Switzerland', 1), ('Ghana, USA', 2), ('Greece', 16), ('Greece, Bulgaria, France', 1), ('Greece, France', 1), ('Greece, France, Latvia', 1), ('Greece, France, Serbia', 1), ('Greece, Germany', 1), ('Greece, Germany, Netherlands, Sweden', 1), ('Greece, Poland', 2), ('Greece, UK', 1), ('Greece, UK, Germany', 1), ('Guatemala', 1), ('Guatemala, France', 1), ('Guatemala, France, Luxembourg', 1), ('Honduras, USA', 1), ('Hong Kong', 35), ('Hong Kong, China', 8), ('Hong Kong, Iceland, USA', 1), ('Hong Kong, Macao, Taiwan', 1), ('Hong Kong, Malaysia', 3), ('Hong Kong, Thailand', 1), ('Hong Kong, USA', 4), ('Hungary', 34), ('Hungary, France', 1), ('Hungary, Germany, France', 1), ('Hungary, UK, USA', 1), ('Hungary, USA, UK', 2), ('Iceland', 5), ('Iceland, Belgium', 1), ('Iceland, Denmark, Sweden', 2), ('Iceland, Estonia, Germany', 1), ('Iceland, Finland, Germany', 1), ('Iceland, France, Ukraine', 1), ('Iceland, Poland, Denmark, Germany, France', 1), ('Iceland, Sweden, Belgium', 1), ('India', 1007), ('India, Canada', 2), ('India, France', 4), ('India, France, Singapore', 1), ('India, Germany, Austria', 1), ('India, Iran', 1), ('India, Mexico', 1), ('India, Nepal', 1), ('India, Pakistan, UK', 1), ('India, Serbia', 1), ('India, Singapore', 1), ('India, Sweden', 1), ('India, Turkey', 1), ('India, UK', 1), ('India, UK, Canada, USA', 1), ('India, UK, China, Canada, Japan, South Korea, USA', 1), ('India, UK, Netherlands, France', 1), ('India, Ukraine', 1), ('India, United Arab Emirates, USA', 1), ('India, USA', 7), ('Indonesia', 66), ('Indonesia, Australia, UK, United Arab Emirates', 1), ('Indonesia, France, Malaysia, Thailand', 1), ('Indonesia, Malaysia', 1), ('Indonesia, Netherlands', 1), ('Indonesia, Netherlands, Australia, Qatar', 1), ('Indonesia, Singapore', 1), ('Indonesia, South Korea', 2), ('Indonesia, South Korea, Singapore', 2), ('Indonesia, USA', 2), ('Iran', 92), ('Iran, Brazil', 1), ('Iran, Canada, Qatar', 1), ('Iran, France', 2), ('Iran, Germany', 1), ('Iran, Lebanon', 1), ('Iran, Poland', 1), ('Iran, Qatar', 1), ('Iran, Thailand', 1), ('Iran, UK, Netherlands', 1), ('Iraq, Canada, UK, France, Qatar, Netherlands', 1), ('Ireland', 20), ('Ireland, Belgium', 1), ('Ireland, Belgium, France, Luxembourg, UK', 1), ('Ireland, Belgium, USA', 2), ('Ireland, Canada', 4), ('Ireland, Canada, Luxembourg, USA, UK, Philippines, India', 1), ('Ireland, France', 2), ('Ireland, Germany, France', 1), ('Ireland, Sweden, USA', 1), ('Ireland, UK', 9), ('Ireland, UK, Belgium, Finland', 1), ('Ireland, UK, Germany, Sweden', 1), ('Ireland, UK, Hong Kong, Hungary, USA', 1), ('Ireland, UK, USA', 2), ('Ireland, USA', 3), ('Israel', 15), ('Israel, France', 1), ('Israel, Germany', 1), ('Israel, Hungary', 1), ('Israel, Palestine', 1), ('Israel, Poland', 1), ('Israel, Switzerland, Germany, France', 1), ('Israel, USA', 2), ('Italy', 123), ('Italy, Austria', 1), ('Italy, Belgium', 2), ('Italy, Belgium, France', 1), ('Italy, Brazil, Germany, France, Sweden, USA', 1), ('Italy, France', 11), ('Italy, France, Belgium', 2), ('Italy, France, Germany', 1), ('Italy, France, Germany, Brazil', 1), ('Italy, France, Switzerland', 1), ('Italy, Germany', 1), ('Italy, Germany, France', 1), ('Italy, Germany, Switzerland', 1), ('Italy, Holy See (Vatican City State)', 1), ('Italy, Philippines, Japan', 1), ('Italy, Poland', 1), ('Italy, Russia', 1), ('Italy, Spain', 1), ('Italy, Switzerland', 3), ('Italy, Switzerland, Albania, Poland', 1), ('Italy, Switzerland, France, Germany', 1), ('Italy, Turkey', 1), ('Italy, UK', 1), ('Italy, Ukraine', 1), ('Italy, USA', 5), ('Japan', 202), ('Japan, Canada, USA', 1), ('Japan, France', 4), ('Japan, Hong Kong, Taiwan', 1), ('Japan, UK', 1), ('Japan, UK, South Korea', 1), ('Japan, USA', 11), ('Japan, USA, Germany', 1), ('Japan, Uzbekistan, Qatar', 1), ('Kazakhstan', 1), ('Kazakhstan, France', 1), ('Kazakhstan, Poland, Norway', 1), ('Kenya, South Africa, Germany, Netherlands, France, Norway, Lebanon, UK', 1), ('Kosovo, Albania', 2), ('Kosovo, Albania, Republic of Macedonia', 1), ('Kyrgyzstan, Netherlands, Germany, France', 1), ('Laos, Estonia, France', 1), ('Latvia', 10), ('Latvia, Lithuania, Belgium, France', 1), ('Latvia, Russia, UK', 1), ('Lebanon', 3), ('Lebanon, France', 1), ('Lebanon, France, Qatar, United Arab Emirates', 1), ('Lebanon, France, USA, Cyprus, Qatar', 1), ('Lebanon, Iraq, France', 1), ('Lebanon, Italy', 1), ('Lebanon, Jordan, Egypt', 1), ('Lithuania', 14), ('Lithuania, Bulgaria, Poland, UK, France', 1), ('Lithuania, France, Ukraine, Poland, Switzerland, Monaco', 1), ('Lithuania, Poland', 1), ('Lithuania, Romania', 1), ('Lithuania, Ukraine, Latvia', 1), ('Lithuania, USA', 1), ('Luxembourg, Belgium, France', 1), ('Luxembourg, Belgium, Germany, France', 1), ('Luxembourg, Belgium, Israel, France', 1), ('Malaysia', 19), ('Malaysia, Australia', 1), ('Malaysia, Maldives, Brunei, Djibouti', 1), ('Malta, USA', 1), ('Mexico', 67), ('Mexico, Argentina, New Zealand', 1), ('Mexico, Chile', 2), ('Mexico, Colombia', 1), ('Mexico, Dominican Republic', 1), ('Mexico, Finland', 1), ('Mexico, Netherlands', 1), ('Mexico, Poland', 1), ('Mexico, Spain', 1), ('Mexico, UK', 1), ('Mexico, USA', 8), ('Mexico, USA, Greece, Dominican Republic', 1), ('Mongolia', 2), ('Montenegro', 1), ('Morocco, France, Qatar', 1), ('Morocco, Norway', 1), ('Morocco, Sweden, Denmark, Germany, France', 1), ('Myanmar', 2), ('Nepal', 7), ('Netherlands', 48), ('Netherlands, Belgium', 4), ('Netherlands, Belgium, Canada', 1), ('Netherlands, Belgium, Croatia', 1), ('Netherlands, Belgium, France', 1), ('Netherlands, Belgium, Germany', 2), ('Netherlands, Belgium, Luxembourg', 1), ('Netherlands, Belgium, Romania', 1), ('Netherlands, Bosnia and Herzegovina', 1), ('Netherlands, France, Germany, Belgium, Sweden, UK, USA', 1), ('Netherlands, Germany', 1), ('Netherlands, Germany, Denmark, UK', 1), ('Netherlands, Germany, USA', 1), ('Netherlands, Japan', 1), ('Netherlands, Norway', 1), ('Netherlands, Poland, France', 1), ('Netherlands, South Africa', 1), ('Netherlands, UK, Belgium, Ireland', 1), ('New Zealand', 14), ('New Zealand, India', 1), ('New Zealand, UK', 1), ('New Zealand, USA', 1), ('Nigeria', 5), ('Nigeria, USA', 1), ('Norway', 31), ('Norway, Denmark, Netherlands, Sweden', 1), ('Norway, Denmark, Sweden', 1), ('Norway, France, Denmark, Sweden', 1), ('Norway, Germany, Sweden, France, Denmark', 1), ('Norway, Iceland, USA', 1), ('Norway, Sweden', 2), ('Norway, Sweden, Czech Republic', 1), ('Norway, Sweden, Denmark', 1), ('Norway, Sweden, Germany', 1), ('Norway, UK', 1), ('Oman, India', 1), ('Pakistan', 30), ('Pakistan, United Arab Emirates', 1), ('Palestine, France, Colombia, Germany, United Arab Emirates, Qatar, Norway', 1), ('Palestine, France, Jordan, Lebanon, Qatar, United Arab Emirates', 1), ('Palestine, Germany, Netherlands, Mexico', 1), ('Palestine, USA, Qatar', 1), ('Panama', 2), ('Panama, USA, Argentina', 1), ('Paraguay', 1), ('Paraguay, Argentina', 1), ('Paraguay, France, Germany, Norway, Brazil, Uruguay, Italy', 1), ('Peru', 5), ('Peru, Germany, Norway', 1), ('Peru, Spain, USA, Chile', 1), ('Peru, USA', 1), ('Philippines', 42), ('Philippines, Singapore', 1), ('Poland', 59), ('Poland, Bosnia and Herzegovina, Croatia', 1), ('Poland, Czech Republic', 1), ('Poland, Czech Republic, Sweden', 1), ('Poland, Germany, Czech Republic, Sweden, Slovakia, France', 1), ('Poland, Netherlands', 1), ('Poland, Netherlands, Germany', 1), ('Poland, Spain, Germany, Belgium, Hungary, France', 1), ('Poland, UK', 1), ('Poland, UK, France', 1), ('Poland, UK, Ukraine', 1), ('Poland, UK, USA, Switzerland, Netherlands', 1), ('Poland, Ukraine, Lithuania, Hungary, Italy', 1), ('Poland, USA', 2), ('Portugal', 21), ('Portugal, Argentina, Brazil', 1), ('Portugal, Brazil', 2), ('Portugal, Brazil, Cape Verde', 1), ('Portugal, France', 4), ('Portugal, France, Brazil', 3), ('Portugal, France, Poland, USA', 1), ('Portugal, Uni

In [65]:
#How many movies produced in the USA or India in the year 2019?

query = """
select count(distinct id),year from movies where (country like '%INDIA%' or country like '%USA%') and  year = 2019
""" 

cur.execute(query)

result = cur.fetchall()

print(result)

[(1059, 2019)]

In [66]:
query = "describe genre"

cur.execute(query)

result = cur.fetchall()

print(result)

[('movie_id', 'varchar(255)', 'YES', '', None, ''), ('genre', 'varchar(255)', 'YES', '', None, '')]

In [77]:
#Unique genre in the dataset

query = "select count(distinct(genre)) from genre"

#query = "select genre from genre group by genre"

cur.execute(query)

result = cur.fetchall()

print(result)

[(13,)]

In [95]:
#Which genre had the highest number of movies produced overall?

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

cur = mydb.cursor()

'''
query = """
select genre from genre group by genre
"""


query = """
select count(movies.id) from movies
"""

query = """
select genre, count(movies.id) from movies inner join genre on movies.id = genre.movie_id group by genre
"""
'''

query = """
select genre, count(movies.id) as num_movies from movies inner join genre on movies.id = genre.movie_id group by genre
order by num_movies desc limit 1
"""


cur.execute(query)

result = cur.fetchall()

print(result)

[('Drama', 4285)]

In [102]:
#Average duration of moovies in each genre?

mydb = mysql.connector.connect(host = 'localhost',
                               user = 'root',
                               password = '725@Mysql',
                               database = 'imdb')

cur = mydb.cursor()

query = """
select genre,round(avg(duration)) as avg_duration from genre inner join movies on movies.id = genre.movie_id 
group by genre 
order by avg_duration desc
"""


cur.execute(query)

result = cur.fetchall()

print(result)

[('Action', Decimal('113')), ('Romance', Decimal('110')), ('Drama', Decimal('107')), ('Crime', Decimal('107')), ('Fantasy', Decimal('105')), ('Comedy', Decimal('103')), ('Thriller', Decimal('102')), ('Adventure', Decimal('102')), ('Mystery', Decimal('102')), ('Family', Decimal('101')), ('Others', Decimal('100')), ('Sci-Fi', Decimal('98')), ('Horror', Decimal('93'))]

In [104]:
#Find the minimum and maximum values in each column of the ratings table except movie_id column

query = "describe ratings"

cur.execute(query)

result = cur.fetchall()

for cols in result:
    print(cols)

('movie_id', 'varchar(255)', 'YES', '', None, '')
('avg_rating', 'float', 'YES', '', None, '')
('total_votes', 'int', 'YES', '', None, '')
('median_rating', 'float', 'YES', '', None, '')

In [108]:
query = """
select min(avg_rating) as min_avg_ratings, 
    max(avg_rating) as max_avg_ratings, 
    min(total_votes) as min_total_votes,
    max(total_votes) as max_total_votes, 
    min(median_rating) as min_median_ratings,
    max(median_rating) as max_median_ratings
from ratings
"""

cur.execute(query)

result = cur.fetchall()

print(result)

[(1.0, 10.0, 100, 725138, 1.0, 10.0)]

In [113]:
#Top 10 movies based on average rating

query = """
select title,avg_rating from movies inner join ratings
on movies.id = ratings.movie_id order by avg_rating desc limit 10
"""

cur.execute(query)

result = cur.fetchall()

print(result)

[('Kirket', 10.0), ('Love in Kilnerry', 10.0), ('Gini Helida Kathe', 9.8), ('Runam', 9.7), ('Fan', 9.6), ('Android Kunjappan Version 5.25', 9.6), ('Yeh Suhaagraat Impossible', 9.5), ('Safe', 9.5), ('The Brighton Miracle', 9.5), ('Shibu', 9.4)]

In [117]:
#Top 10 movies based on average rating

query = """
select title,avg_rating,rank() over(order by avg_rating desc) as movie_rank from movies inner join ratings
on movies.id = ratings.movie_id limit 10
"""

cur.execute(query)

result = cur.fetchall()

print(result)

[('Kirket', 10.0, 1), ('Love in Kilnerry', 10.0, 1), ('Gini Helida Kathe', 9.8, 3), ('Runam', 9.7, 4), ('Fan', 9.6, 5), ('Android Kunjappan Version 5.25', 9.6, 5), ('Yeh Suhaagraat Impossible', 9.5, 7), ('Safe', 9.5, 7), ('The Brighton Miracle', 9.5, 7), ('Shibu', 9.4, 10)]

In [124]:
#Summarise the ratings table based on movie counts by median ratings

query = """
select median_rating, count(movie_id) as movie_count from ratings group by median_rating order by movie_count desc
"""

cur.execute(query)

result = cur.fetchall()

print(result)

[(7.0, 2235), (6.0, 1963), (8.0, 1021), (5.0, 971), (4.0, 472), (9.0, 424), (10.0, 345), (3.0, 279), (2.0, 119), (1.0, 94), (6.5, 22), (4.5, 14), (5.5, 12), (7.5, 9), (3.5, 7), (8.5, 5), (2.5, 4), (9.5, 1)]

In [133]:
#Which production house has produced the most number of hits, (average rating > 8)

query = """
with production_comany_hit_movie_summary as(
    select production_company, count(id), rank() over(order by count(id) desc) as prod_comp_rank from movies 
    inner join ratings on movies.id = ratings.movie_id
    where avg_rating > 8 and production_company is not null
    group by production_company
)

select * from production_comany_hit_movie_summary where prod_comp_rank = 1
"""

cur.execute(query)

result = cur.fetchall()

print(result)

[('Dream Warrior Pictures', 3, 1), ('National Theatre Live', 3, 1)]